@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  h1 {
    font-size: 2.8rem;
  }

  p {
    margin-top: 3px;
  }

  .subText {
    @include subText;
  }

  .hamburgerButton {
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;

    width: calc($max-width-val * (1 / 2));

    animation: sidebarAnimation 0.5s;
  }
}

@keyframes sidebarAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
