@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
  label {
    @include mainText;
  }

  input {
    @include input;
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1.4rem;
  }
}
