@import "../../styles/global.scss";

.container {
  margin-top: $field-gap;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      @include mainText;
    }

    p {
      @include subText-small;
    }
  }

  .calendarField {
    margin-top: 30px;
  }
}
