@import "../../styles/global.scss";

.container {
  margin-top: $field-gap;

  label {
    @include mainText;
  }

  .timeSelection {
    margin-top: 10px;
    display: flex;
    gap: 20px;

    div {
      flex-basis: 0;
      flex-grow: 1;

      select {
        width: 100%;
        @include input;
        padding: 8px 10px;
      }
    }
  }
}
