@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
  .header {
    display: flex;
    align-items: center;
    gap: 40px;

    span {
      @include mainText;
      font-size: 1.4rem;
    }

    .calendarArrowButton {
      cursor: pointer;
      // padding: 5px 9px;
      width: 30px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 999px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .calendar {
    margin: 0 -10px;

    .day {
      margin-top: 20px;
      display: flex;

      span {
        flex-grow: 1;
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .dateWrap {
      margin-top: 10px;
      display: grid;
      row-gap: 7px;
      grid-template-columns: repeat(7, 1fr);

      div {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      div.selected {
        color: white;
        background-color: $primary;
      }

      div.leftRounded {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      div.rightRounded {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .date {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
      }
    }
  }
}

@media (hover: hover) {
  /* when supported */
  .calendarArrowButton:hover {
    color: initial;
    background: initial;
  }
}
