@import "./font.scss";
@import "./reset.scss";
@import "./variables.scss";

body {
  background-color: $bg-outside;
}

@media (hover: hover) {
  /* when supported */
  button:hover {
    color: initial;
    background: initial;
  }
}
