@import "./font.scss";
@import "./reset.scss";
@import "./mixin.scss";

// layout
$max-width-val: 430px;
$padding-y: 20px;

// color
$bg-container: white;

// container(가운데 정렬된 430px)를 제외한 배경
$bg-outside: #f0e9ef;

body {
  background-color: $bg-outside;
}
