@mixin subText {
  font-size: 1.3rem;
  font-weight: bold;
  color: $sub-text-color;
}

@mixin subText-small {
  @include subText;
  font-size: 1.1rem;
}

@mixin mainText {
  font-size: 1.5rem;
  color: $main-text-color;
  // font-weight: bold;
}

@mixin input {
  border: 1px solid $input-border-color;
  border-radius: $radius;
  box-sizing: border-box;

  &:focus {
    border-color: $primary;
  }
}
