@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
  .header {
    display: flex;
    gap: 40px;

    span {
      @include mainText;
      font-size: 1.4rem;
    }

    .calendarArrowButton {
      cursor: pointer;
    }
  }

  .calendar {
    margin: 0 -10px;

    .day {
      margin-top: 20px;
      display: flex;

      span {
        flex-grow: 1;
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .dateWrap {
      margin-top: 10px;
      display: grid;
      row-gap: 7px;
      grid-template-columns: repeat(7, 1fr);

      div {
        display: flex;
        justify-content: center;
      }

      span {
        background-color: $secondary;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        cursor: pointer;
      }

      .selected {
        background-color: $primary;
        color: white;
      }
    }
  }
}
