@import "../../../styles/variables.scss";

.container {
  background-color: $sidebar-color;

  padding: 20px;

  ul {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 5em;

    li {
      font-size: 1.5rem;
      font-weight: bold;

      p {
        font-size: 1.1rem;
        color: #949494;
        margin-top: 10px;
      }
    }
  }

  .closeButton {
    cursor: pointer;
    position: absolute;
    right: 20px;
  }
}
